[submodule "Othuum/SuthanusPhysicsLib/ThirdParty/bullet"]
	path = Othuum/SuthanusPhysicsLib/ThirdParty/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "Othuum/AhwassaGraphicsLib/lib/imgui"]
	path = Othuum/AhwassaGraphicsLib/lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Othuum/AhwassaGraphicsLib/lib/freetype"]
	path = Othuum/AhwassaGraphicsLib/lib/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Othuum/AezeselFileIOLib/lib/lodepng"]
	path = Othuum/AezeselFileIOLib/lib/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "Othuum/AezeselFileIOLib/lib/zipper"]
	path = Othuum/AezeselFileIOLib/lib/zipper
	url = https://github.com/sebastiandev/zipper.git
